.dashboard-sidebar-wrapper {
    display: flex;
}

.dashboard-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 100vh;
    padding: 10px;
    font-weight: bold;
    color: var(--light-grey);
    background: var(--royal-white);
    border-right: 1px solid var(--light-grey);
    transition: 0.2s ease-in-out;
}

.dashboard-sidebar-main-buttons {
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dashboard-logo {
    max-width: 200px;
    display: flex;
    width: 100%;
}

.dashboard-link-nav-button {
    display: flex;
    width: 220px;
    height: 47px;
    margin: 5px 0 5px 0;
    font-weight: bold;
    color: var(--light-grey);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 10px 0 20px;
    border-radius: 30px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    transition: 0.2s ease-in-out;
}

.dashboard-link-nav-button:hover {
    transition: 0.2s ease-in-out;
    background: var(--royal-blue);
    color: var(--royal-white);
}

.dashboard-link-nav-button-icon {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.dashboard-link-nav-button-icon:hover {
    transition: 0.2s ease-in-out;
    background: var(--royal-blue);
    color: var(--royal-white);
}

.dashboard-link-nav-button-logout {
    display: flex;
    margin: 0 auto 30px auto;
    width: 220px;
    height: 45px;
    font-weight: bold;
    color: var(--light-grey);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 10px 0 20px;
    border-radius: 30px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    transition: 0.2s ease-in-out;
}

.dashboard-link-nav-button-logout:hover {
    transition: 0.2s ease-in-out;
    color: var(--royal-white);
    background: var(--royal-red);
}

.close-dashboard-side-bar {
    height: 40px;
    border-radius: 30px;
    width: 40px;
    margin: 20px 0 0 10px;
    box-shadow: 1px 1px 5px 0px var(--light-grey);
    transition: transform 0.3s ease-in-out;
}

.rotated {
    transition: 0.2s ease-in-out;
    transform: rotate(180deg);
}

.closed {
    transition: 0.2s ease-in-out;
    width: 0;
    transform: translateX(-150px);
}

@media screen and (max-width: 1440px) {

    .dashboard-sidebar {
        width: 200px;
        padding: 5px;
    }

    .dashboard-link-nav-button {
        font-size: 1.3rem;
        width: 180px;
        padding: 0 0 0 20px;
    }

    .dashboard-logo {
        max-width: 150px;
    }

    .dashboard-link-nav-button-icon{
        width: 20px;
        height: 20px;
    }

    .dashboard-link-nav-button-logout{
        width: 180px;
        font-size: 1.3rem;
        padding: 0 0 0 20px;
        margin: 0 0 15px 0;
    }
}

@media screen and (max-width: 1024px){
    .dashboard-sidebar{
        display: none;
    }
}