* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.sign-in-wrapper {
    display: flex;
}

.left-side {
}

.right-side-login {
    width: 100vw;
    height: 100vh;
    background: url("../../../src/assets/background-image.svg") no-repeat center;
    background-size: cover;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}

.right-side-login-section{

}

.right-side-login-side-title{
    text-transform: uppercase;
    font-size: 9.5rem;
    font-weight: 700;
    background: linear-gradient(90deg, var(--royal-white), var(--royal-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.right-side-login-side-description{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--light-grey);
}

.h2-title-login-form {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 20px 0 20px 0;
    color: var(--royal-blue);
}

.h3-title-login-form {
    font-size: 2rem;
    margin: 0 0 20px 0;
    font-weight: 500;
    color: var(--grey);
}

.label-text{
    color: #343541;
    font-weight: 500;
    font-size: 1.2rem;
}

.question-p {
    font-size: 1.5rem;
    margin: 20px 0 20px 0;
    font-weight: 500;
    color: #707070;
}

.sign-in-link {
    color: var(--royal-blue);
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 5px;
    text-decoration: none;
}

.input-field {
    margin: 10px 0 10px 0;
    background-color: #f2f2f2;
    color: #343541;
    height: 5vh;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #d7d7d7;
}

.login-custom-form {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 500px;
    width: 100%;
    margin: 0 15px 0 15px;
    padding: 0 15px 0 15px;
}

.sign-in-button {
    margin: 10px auto;
    background-color: var(--royal-blue);
    border: none;
    height: 50px;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 35px;
    transition: 0.3s ease-out;
    width: 200px;
}

.sign-in-button:hover {
    background-color: var(--royal-blue-hovered);
    transition: 0.3s ease-out;
}


@media only screen and (max-width: 694px) {
    .right-side-login{
        display: none;
    }

    .left-side{
        width: 100vw;
        height: 100vh;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}