.load-frame-container{
    color: var(--royal-blue);
    width: 220px;
    height: 170px;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 15px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid var(--light-grey);
    transition: 0.2s ease-in-out;
}

.load-frame-container:hover{
    border: 1px solid var(--royal-blue);
    background: var(--light-grey-hovered-transparent);
}

.load-frame-container:focus{
    border: 1px solid var(--royal-blue);
    background: var(--light-grey-hovered-transparent);
}

.load-frame-container section{
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
}

.load-frame-container section h2{
    color: var(--royal-blue);
    margin: 0 15px 0 0;
}

.arrow-nav-right{
    transform: rotate(180deg);
    background: var(--royal-blue);
    border: 50px;
    padding: 10px;
}