.universalSectionWrapper {
  align-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 90px auto 90px auto;
  max-width: 1500px;

  h1{
    display: flex;
    color: var(--dark-grey);
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
  }

  p{
    display: flex;
    color: var(--light-grey);
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    max-width: 700px;
    margin: 0 auto;
  }
}

.truck{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    img{
        width: 100%;
        height: auto;
    }
}

.universalSectionContent{
  width: 100%;
  display: flex;
  gap: 15px;
}