.bottom-section {
    margin: 0 15px 0 15px;
    padding: 0 15px 0 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose-category-button {
    margin: 15px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    color: #d2d2d2;
}

.choose-category-button:hover {
    transition: 0.3s ease-in-out;
    background-color: #575757;
}

.input-container-wrapper {
    width: 100%;
    max-width: 650px;
    height: 79px;
    padding: 15px 0 15px 0;
    justify-content: start;
    background-color: #f6f6f6;
    border-radius: 40px;
}

.input-container {
    margin: 0 15px 0 15px;
    display: flex;
    align-items: center;
    align-content: space-between;
    padding: 0 10px 0 0;
    border: none;
}

.image-input-container-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Add this line to wrap items to the next line when they overflow */
    margin: 0;
    padding: 0;
}

.image-input-container {
    margin: 10px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
}

.main-input-field {
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--grey);
}

.delete-icon-button {
    position: absolute;
    margin: 1px;
    top: -5px;
    right: -5px;
    border-radius: 5px;
    padding: 5px;
    background-color: red;
}

.selected-image {
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
}

.selected-image:hover {
    transition: 0.3s ease-in-out;
}

.image-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px); /* Add this line */
}

.image-popup img {
    max-width: 90%;
    max-height: 90%;
}

input {
    width: 100%;
    height: 5vh;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    padding: 0 15px;
    background: none;
    color: var(--grey);
}

.image-input {
    position: relative;
    border-radius: 15px;
    display: none;
    width: 50px;
    height: 50px;
}

.submit-button {
    position: relative;
    cursor: pointer;
    width: 50px;
    padding: 7px;
    align-content: center;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
    margin: 0 1px 0 1px;
}

.submit-button:hover {
    background-color: rgba(152, 152, 152, 0.24);
    transition: 0.3s ease-in-out;
}

.audio-player {
    width: 100%;
    height: 30px;
    margin: 10px;
}

li.message.You .audio-player {
    position: relative;
    width: 1500%;
    height: 50px;
}

.camera-button {
    position: relative;
    padding: 3px 0 0 0;
    cursor: pointer;
    margin: 0 0 0 15px;
}

.use-mic-button {
    position: relative;
    padding: 3px 0 0 0;
    cursor: pointer;
    margin: 0 0 0 15px;
}

.open {
    transform: translateX(0);
}

.open-close-side-bar {
    position: relative;
    height: 60px;
    margin: 10px 0 0 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.loader span {
    opacity: 0; /* Start with dots invisible */
    animation: dotFadeIn 1.5s infinite; /* Animation applied to each dot */
}

.loader span:nth-child(2) {
    animation-delay: 0.5s; /* Delay for second dot */
}

.loader span:nth-child(3) {
    animation-delay: 1s; /* Delay for third dot */
}

@keyframes dotFadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

* {
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.ai-chat-wrapper {
    display: flex;
    width: 100%;
    height: 705px;
    max-width: 940px;
    border-radius: 40px;
    border: 1px solid var(--light-grey);
}

.side-bar {
    height: 100%;
    width: 100%;
    max-width: 264px;
    display: flex;
    z-index: 2;
    border-right: 1px solid var(--light-grey);
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s, 0.5s ease-in-out;
}

.side-bar.hidden {
    opacity: 0;
    visibility: hidden;
    width: 0;
    z-index: -1;
    transition: 0.5s ease-in-out;
}

.side-bar.ai-chat-wrapper {
    max-width: 450px;
}

button {
    border: solid 1px rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

nav {
    text-align: center;
    width: 100%;
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
}

.main {
    width: 100%;
    max-height: 750px;
    height: 100%;
    max-width: 450px;
    margin: 0 40px auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.side-bar.hidden ~ .main {
    width: 100%;
    transition: 0.9s ease-in-out;
    max-width: 750px;
}

.greeting-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 650px;
    width: 100%;
    margin: 50px 0 0 0;
    height: 100px;
}

.history {
    padding: 10px;
    margin: 10px;
    height: 100%;
}

.history li {
    list-style-type: none;
    padding: 15px 0;
    cursor: pointer;
}

.info {
    width: 480px;
    font-size: 11px;
    padding: 10px;
    color: var(--grey);
}

.feed {
    overflow: scroll;
    width: 100%;
    max-width: 800px;
    padding: 0;
}

.feed::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0);
    width: 0;
}

.feed li {
    display: flex;
    width: 100%;
    padding: 20px;
    margin: 20px 0;
}

.feed p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    text-align: left;
}

.feed p.role {
    min-width: 100px;
}

.open-close-sidebar {
    border: none;
    position: absolute;

}

.open-close-sidebar {
    transition: transform 0.3s ease-in-out;
}

.open-close-sidebar.move-right {
    transform: translateX(250px);
}

.side-bar .history li {
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 5px;
    text-align: center;
    margin: 15px 0 15px 0;
    border: 1px solid #d2d2d2;
    color: #ffffff;

}

.side-bar .history li {
    opacity: 1;
}

.logout-button {
    position: relative;
    bottom: 0;
    padding: 10px;
    max-width: 200px;
    width: 100%;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: darkred;
}

.greeting {
    border-radius: 10px;
    font-size: 4.5rem;
    text-align: left;
    font-weight: bold;
    background: linear-gradient(to right, var(--royal-blue), var(--royal-blue-light));
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 3s linear infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.greeting-subtitle {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 350px;
    height: 100px;
    margin: 0 170px 0 0;

}

.greeting-subtitle span {
    background: linear-gradient(to right, var(--light-grey), var(--light-grey-hovered));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
    text-align: left;
    font-weight: bold;
}


.chat-sessions {
    overflow: scroll;
    width: 100%;
    height: 100%;
    max-height: 585px;
    max-width: 800px;
    padding: 0;
    overflow-x: hidden;
}

.chat-sessions-introduction {
    margin: 200px auto;
    border-radius: 20px;
    width: 250px;
    align-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--royal-blue);
    justify-content: center;
    padding: 30px 0 30px 0;
    text-align: center;
}

.chat-sessions::-webkit-scrollbar {
    width: 5px;
    background: rgba(241, 241, 241, 0);
}

.chat-sessions::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0);
}

.chat-sessions::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #888;
}


.chat-session-item {
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin: 10px 15px 10px 15px;
    transition: 0.1s ease-in-out;
    padding: 10px;
}

.chat-session-item:hover {
    background-color: rgba(255, 255, 255, 0.24);
    transition: 0.1s ease-in-out;
}

.new-chat-session-button {
    border-radius: 30px;
    font-size: 1.8rem;
    height: 50px;
    width: 50px;
    border: none;
    transition: 0.2s ease-in-out;
}

.new-chat-session-button:hover {
    background: var(--light-grey-hovered-transparent);
}

.chat-control-buttons-section {
    margin: 15px 15px auto auto;
    border-bottom: 1px solid var(--light-grey);
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding: 0 10px 10px 10px;
    justify-content: space-between;
}

.chat-control-buttons-section h2 {
    margin: 0 0 0 15px;
    font-size: 1.5rem;
    color: var(--grey);
}

.my-loads-dashboard-button {
    margin: 10px;
    border-radius: 5px;
    background-color: #d85c34;
    padding: 10px 0 10px 0;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    text-align: center;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.47);

}

.my-loads-dashboard-button:hover {
    background-color: #ff855e;
    transition: 0.2s ease-in-out;
}


.control-buttons {
    display: flex;
    flex-direction: column;
}

.bottom-sidebar-section {
    border-top: 1px solid var(--light-grey);
    margin: 0 0 25px 0;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: var(--grey);
    padding: 15px 5px 0 5px;
}

.bottom-sidebar-section p {
    margin: 0 auto;
    font-size: 1rem;
    width: 210px;
    color: var(--grey);
}

.clear-chat-history {
    height: 50px;
    width: 97%;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    border-radius: 25px;
    color: var(--royal-red);
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.2s ease-in-out;
    border: none;
}

.clear-chat-history:hover {
    background-color: var(--light-grey-hovered);
    transition: 0.2s ease-in-out;
}

.sidebar-bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* In your CSS file */
.beautiful-table {
    z-index: -1;
    overflow: hidden;
    display: block;
    width: 600px;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.beautiful-table::-webkit-scrollbar {
    background: rgba(241, 241, 241, 0);
}

.element::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    /* Add more styles if needed */
}


.beautiful-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.beautiful-table th,
.beautiful-table td {
    padding: 12px 15px;
}

.beautiful-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.beautiful-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.beautiful-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.beautiful-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

td {
    text-align: start;
}

.chat-avatar {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}


.avatar-label {
    font-size: 13px;
    font-weight: 600;
}

.avatar-container {
    margin: 1px 0 0 0;
}

p.p-text-message {
    font-size: 1.2rem;
}

.message-header {
    display: flex;
}




.car-delivery-form {
    font-family: 'Roboto', sans-serif;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #4d4d4d;
}

.car-delivery-form h2 {
    color: #dedede;
    font-size: 24px;
    margin-bottom: 24px;
}

.car-delivery-form .form-group {
    margin-bottom: 20px;
}

.car-delivery-form .form-group textarea {
    max-width: 100%;
    width: 100%;
    padding: 10px;
    color: #343541;
    border: 1px solid #dadce0;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.car-delivery-form .form-group label {
    display: block;
    margin-bottom: 10px;
    color: #d0d0d0;
}

.car-delivery-form .form-group input[type="checkbox"] {
    width: auto;
}

.car-delivery-form .submit-btn {
    background-color: #1a73e8;
    color: #ffffff;
    border: none;
    padding: 10px 24px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group label {
    margin-left: 5px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.category-popup {
    display: flex;
    flex-direction: column;
    background: #575757;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup-title {

}

.popup-content-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 15px 0;
}

.fa-left-icon {
    border-radius: 50px;
    border: 1px solid white;
    padding: 5px;
    float: left;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin: 0 190px 0 0;
}

.fa-left-icon:hover {
    background-color: #969696;
    transition: 0.3s ease-in-out;
}

.category-button {
    width: 200px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.02), 0 20px 60px rgba(0, 0, 0, 0.05);
    padding: 10px;
    font-size: 1.2rem;
    color: #eeeeee;
    margin: 5px;
}

.category-button:hover {
    transition: 0.3s ease-in-out;
    background-color: #969696;
}

.car-shipping-form {
    background-color: #ffffff;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.car-shipping-form h2 {
    color: #333;
    text-align: left;
    margin-bottom: 20px;
}

.vehicle-entry {
    margin-bottom: 20px;
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 8px;
}

.vehicle-entry input[type="text"] {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.vehicle-entry label {
    margin-right: 10px;
}

.vehicle-entry button {
    background-color: #ff5a5f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.next-button {
    background-color: #ff5a5f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
}


.question-select-container {
    max-width: 650px;
    width: 100%;
    height: 120px;
    background: none;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    white-space: nowrap;
    margin: 0 0 10px 0
}

.question-button-text {
    margin: 0 0 0 10px;
}

.select-category-title {
    width: 50px;
    font-size: 1.5rem;
    color: var(--dark-grey);
    margin: 0 0 10px 0;
}

.select-category-description {
    margin: 0;
    color: var(--light-grey);
}

.select-category-description p {
    width: 70px;
    color: var(--light-grey);
}

.question-select-container::-webkit-scrollbar {
    width: 0;
}


.select-category-button {
    display: flex;
    text-align: left;
    height: 80px;
    width: 240px;
    justify-content: space-between;
    font-weight: bold;
    border: 1px solid var(--royal-blue);
    align-items: center;
    border-radius: 30px;
    padding: 0 15px 0 15px;
    margin: 0 15px 0 15px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}


.select-category-button:hover {
    background: linear-gradient(90deg, var(--royal-blue-hovered), rgba(0, 0, 0, 0.07), var(--royal-blue-hovered));
    background-size: 200% auto;
    color: white;
    border: none;
    animation: shimmer 4s infinite;
    transition: 0.4s ease-in-out;
}

@keyframes shimmer {
    0% {
        background-position: 150% center;
    }
    100% {
        background-position: -150% center;
    }
}











