.container-loader{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: var(--dark-grey);
    border-radius: 20px;
}
